*.iml
.gradle
/gradle/
build.gradle
gradle.properties
gradlew
gradlew.bat
/local.properties
settings.gradle
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

app/src/main/res/values/*
app/src/main/res/values-night/